@import "tailwindcss";
@import "tw-animate-css";

:root {
  --primary: #90a375;
  --secondary: #b5c99a;
  --accent: #cfe1b9;
  --light: #e9f5db;
  --lighter: #cfe1b9;
  --lightest: #e9f5db;
  --dark: #222222;
  --white: #ffffff;
  --black: #000000;
  --radius: 0.625rem;
  --background: #f7f7f7;
  --foreground: #2b3120;
  --card: #ffffff;
  --card-foreground: #222222;
  --popover: #ffffff;
  --popover-foreground: #222222;
  --primary-foreground: #ffffff;
  --secondary-foreground: #222222;
  --muted: #cfe1b9;
  --muted-foreground: #97a97c;
  --accent-foreground: #222222;
  --destructive: #718355;
  --border: #cfe1b9;
  --input: #cfe1b9;
  --ring: #97a97c;
  --chart-1: #e9f5db;
  --chart-2: #cfe1b9;
  --chart-3: #b5c99a;
  --chart-4: #97a97c;
  --chart-5: #87986a;
  --sidebar: #cfe1b9;
  --sidebar-foreground: #222222;
  --sidebar-primary: #97a97c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #b5c99a;
  --sidebar-accent-foreground: #222222;
  --sidebar-border: #b5c99a;
  --sidebar-ring: #97a97c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
  --color-lightest: var(--lightest);
  --color-dark: var(--dark);
  --color-white: var(--white);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: #222222;
  --foreground: #ffffff;
  --card: #97a97c;
  --card-foreground: #ffffff;
  --popover: #97a97c;
  --popover-foreground: #ffffff;
  --primary: #e9f5db;
  --primary-foreground: #222222;
  --secondary: #87986a;
  --secondary-foreground: #ffffff;
  --muted: #87986a;
  --muted-foreground: #e9f5db;
  --accent: #87986a;
  --accent-foreground: #ffffff;
  --destructive: #718355;
  --border: #b5c99a;
  --input: #b5c99a;
  --ring: #97a97c;
  --chart-1: #e9f5db;
  --chart-2: #cfe1b9;
  --chart-3: #b5c99a;
  --chart-4: #97a97c;
  --chart-5: #87986a;
  --sidebar: #97a97c;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #e9f5db;
  --sidebar-primary-foreground: #222222;
  --sidebar-accent: #87986a;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #b5c99a;
  --sidebar-ring: #97a97c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
