@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2E6946;
  --secondary: #D9E55B;
  --orange: #F68B40;
  --cream: #FDF7E0;
  --dark: #222222;
  --white: #ffffff;
  --background: #F7F7F7;
  --border: #E5E5E5;
}